:host {
  display: block;
  padding-top: 64px;
}

.delete-button {
  position: absolute;
  top: 8px;
  right: 8px;

  ::ng-deep svg {
    fill: #fff;
  }
}

app-delete-icon {
  display: inline-flex;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px 0;
}

mat-form-field {
  width: 100%;
}

.media-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 64px 4px;
  padding: 64px 160px;
  max-width: 100rem;
  margin: 0 auto;
}

.media {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 24px 0;
  background-color: var(--card-background);
  position: relative;
}

.media-left {
  // min-width: 304px;
  overflow: hidden;
}

.media-right {
  // margin: auto 0;

}

.media-right-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  padding: 48px 64px;
}

mat-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.center-spinner {
  margin: auto;
}

.img {
  overflow: hidden;
}

.img-background2 img {
  opacity: 1 !important;
}

.img-background {
  position: relative;
  background-color: rgba(0, 0, 0, .12);
  max-width: 364px;
  min-height: 468px;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 200ms;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background-color: rgba(187, 134, 252, 0.87);
  }
}

@media (max-width: 599px) {

  .media-list {
    grid-template-columns: 1fr;
    padding: 56px 0;
  }

  .media {
    grid-template-columns: 1fr;
  }

  img {
    max-width: none;
  }

  .media-right-content {
    margin: auto 0;
    padding: 0 16px;
  }
}

app-link-icon {
  display: inline-flex;
  fill: var(--icon-color);
}

.ripple-button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

mat-form-field {
  font-size: 14px;
  line-height: 20px;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: .75em 0 0 0;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background: none;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.75em 0 0.75em 0;
}

@media (prefers-color-scheme: light) {
  :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: rgba(0, 0, 0, 0.12);
  }
}

@media (prefers-color-scheme: dark) {
  :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: rgba(255, 255, 255, 0.38);
  }
}

// fix progress bar color
@media (prefers-color-scheme: dark) {
  ::ng-deep .mat-progress-bar-background {
    fill: #4c3f5b !important;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background-color: #4c3f5b !important;
  }

  ::ng-deep .mat-progress-bar-fill::after {
    // background-color: #4c3f5b !important;
    // background: #4a445c !important;
    background: #BB86FC;
  }
}

.img-actions-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0));
  opacity: 0;
  transition: all 400ms;
}

.media-left:hover .img-actions-overlay {
  opacity: 1;
}

.form-placeholder {
  display: grid;
  grid-template-columns: 1fr;
}

.box-placeholder {
  background: rgba(255, 255, 255, 0.01);
  height: 48px;
}
