* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  background-color: var(--html-background);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--html-color);
}

.mat-select-panel {
  padding: 8px 0 !important;
}

.mat-option {
  font-size: 14px !important;
  line-height: 24px !important;
}

.mat-button, .mat-raised-button {
  padding: 0 8px !important;
  // letter-spacing: 1.25px;
  // line-height: 1 !important;
  // padding: 16px 8px !important;
}

.mat-stroked-button {
  border-color: #6200ea !important;
  padding: 0 8px !important;
}

a, button, img {
  user-drag: none;
  -webkit-user-drag: none;
}

@media (prefers-color-scheme: light) {
  // Snackbar fix
  .mat-snack-bar-container {
    background-color: #060606;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14);
  }

  .mat-simple-snackbar {
    color: #fff;
    // letter-spacing: .25px;
  }

  .mat-tooltip {
    font-size: 12px;
    line-height: 16px;
    // letter-spacing: .4px;
    background: rgba(0, 0, 0, 0.6);
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.32);
  }
}

@media (prefers-color-scheme: dark) {
  // Snackbar fix
  .mat-snack-bar-container {
    background-color: #e4e4e4;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14);
  }

  .mat-simple-snackbar {
    color: black;
    // letter-spacing: .25px;
  }

  .mat-tooltip {
    font-size: 12px;
    line-height: 16px;
    // letter-spacing: .4px;
    background: rgba(255, 255, 255, 0.6);
    color: #121212 !important;
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(255, 255, 255, 0.32);
  }
}

/**
Scrollbar
 */
body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track-background);
  border-left: 1px solid var(--scrollbar-track-border-color);
}

button {
  user-select: none;
}
