<h1 mat-dialog-title>
  Ayarlar
</h1>

<div mat-dialog-content>

  <div class="my-dialog-content">
    <div class="right">
      <div class="row-box">
        <p>WEBP uygulansın mı?</p>
        <mat-form-field appearance="fill">
          <mat-label>Tür</mat-label>
          <mat-select disableOptionCentering value="webp">
            <mat-option value="webp">WEBP</mat-option>
            <mat-option value="jpeg">JPEG</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<!--<div mat-dialog-actions align="end">
  <button mat-button>İPTAL</button>
  <button mat-button color="primary">BİTTİ</button>
</div>-->

