<div class="container">

  <div class="logo">
    <img height="256" class="logo-img"
         src="//localhost:3333/3d-plastilina-upload-cloud.png"
         alt="" draggable="false">
  </div>

  <div class="upload-box">
    <div class="primary-text">Basit, hızlı</div>
    <div class="secondary-text">
      <span>Yüklenecek dosyaları herhangi bir yere bırakın veya</span>
      <button mat-raised-button color="primary" (click)="file.click()">buraya tıklayarak</button>
      <span>seçin</span>
    </div>
  </div>

  <input #file id="file" type="file" accept="image/*" formenctype="multipart/form-data" multiple
         (change)="onChange($event)">

  <router-outlet></router-outlet>

</div>


