:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

form {
  width: 488px;
  min-height: 550px;
  // display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  border: 1px solid var(--border-color);
  padding: 48px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

form mat-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.form-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 48px 0 48px 0;
}

.form-row-actions {
  display: flex;
  justify-content: flex-end;
}

h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
}
